.icon.is-twitter {
    color: blue;
    background: url(twt.png);
}
.icon.is-twitter:hover {
    color: white;
    background: blue;
}
.icon.is-youtube {
    color: red;
    background: url(youtube.png);
}
.icon.is-youtube:hover {
    color: white;
    background: red;
}
.cloud2 {
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 120%;
    top: 5.8em;
    left: -.4em;
    -webkit-box-shadow: rgba(0, 0, 0, .1) -.05em .05em 0, #FFF 1em -1.2em 0 .1em, #FFF 2.8em -.8em 0 -.2em, #FFF 4em -.3em 0 -.3em, #fff 1.6em .25em 0 .1em, #fff 3.3em .4em 0 -.5em;
            box-shadow: rgba(0, 0, 0, .1) -.05em .05em 0, #FFF 1em -1.2em 0 .1em, #FFF 2.8em -.8em 0 -.2em, #FFF 4em -.3em 0 -.3em, #fff 1.6em .25em 0 .1em, #fff 3.3em .4em 0 -.5em;
    z-index: 10;
    -webkit-animation: moveFromRight .7s cubic-bezier(.81, 0, .43, 1.39) both;
            animation: moveFromRight .7s cubic-bezier(.81, 0, .43, 1.39) both;
}
